.carousel-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
}

.carousel-slide {
  flex: 0 0 100%;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}
