* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #000;
  color: white;
  font-family: "Courier New", Courier, monospace;
  max-width: 1280px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  padding: 15px 10px;
  height: 50px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

nav a {
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}

nav a:hover {
  background-color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 160px;
  z-index: 1;
  border: 1px solid white;
}

.dropdown-content a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 240px;
  padding: 10px;
  border-radius: 10px;
  background-color: gray;
  display: inline-block;
  color: white;
}

.card img {
  width: 100%;
}

.card h4 {
  margin: 5px 0px;
}

.card:hover {
  opacity: 70%;
}

main {
  width: 100%;
  margin: 15px 0px;
}

main h1 {
  border-bottom: 2px solid white;
  display: inline;
}

.contact {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: start;
}

.sosmed {
  flex: 1;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 20px 0px;
}

.sosmed a {
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sosmed a:hover {
  opacity: 70%;
}

.form {
  flex: 2;
  padding: 10px;
  border-radius: 5px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input {
  padding: 10px;
}

.form button {
  width: max-content;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  main {
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 170px;
  }

  .contact {
    flex-direction: column;
  }

  .form,
  .sosmed {
    width: 100%;
  }
}
